<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=[% settings.charset %]" />
  <title>meta-dancer: building a slide deck with dancer</title>
  <link rel="stylesheet" href="[% request.uri_base %]/css/style.css" />

  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/jquery.hotkeys.js"></script>
  <script type="text/javascript" src="/js/shCore.js"></script>
  <script type="text/javascript" src="/js/shBrushBash.js"></script>
  <script type="text/javascript" src="/js/shBrushCss.js"></script>
  <script type="text/javascript" src="/js/shBrushDiff.js"></script>
  <script type="text/javascript" src="/js/shBrushPerl.js"></script>
  <script type="text/javascript" src="/js/shBrushXml.js"></script>
  <script type="text/javascript" src="/js/shBrushPlain.js"></script>

  <link href="/css/shCore.css" rel="stylesheet" type="text/css" />
  <!--<link href="/css/shThemeDefault.css" rel="stylesheet" type="text/css" />-->
  <link type="text/css" rel="Stylesheet" href="/css/shThemeEclipse.css"/>
 
</head>
<div id='header'>meta-dancer: building a slide deck</div>
<body>
[% content %]
<div id="footer">
  
  <a href='/slide/prev' id='prev' [% IF page == 0 %]onclick='return false' disable='true'[% END %]>PREV</a>
  page [% page || 0 %] of [% last_page || 'many' %]
  <a href='/slide/next' id='next' [% IF page == last_page %]onclick='return false' disable='true'[% END %]>NEXT</a>
</div>
<script type="text/javascript"> SyntaxHighlighter.all() </script>
<script type='text/javascript'>
$(document).ready(function() {
  $(document).keydown( function(e){
   var key = String.fromCharCode(e.keyCode);
   if ( key== 'N' || e.keyCode == 190) {
      window.location = $('a#next').attr('href');
   }
   else if (key == 'P' || e.keyCode == 188) {
      window.location = $('a#prev').attr('href');
   }
});
});
</script>
</body>
</html>
