[% IF slide_type == 'HTML' %]
[% slide %]
[% ELSIF slide_type == 'PROMPT' %]
<pre>
[% slide %]
</pre>
[% ELSIF slide_type =='CODE' %]
<pre class='brush: [% code_type | lower %]'>
[% slide | html %]
</pre>
[% ELSE %]
<p>
[% slide %]
</p>
[% END %]
